/* Colors and Fonts */

body {
	background: #F7F9FC;
	color: #575F7D;
	// <uniquifier>: Use a uniquifier for the class name
	// <weight>: Use a value from 400 to 700

	.lora-<uniquifier> {
	  font-family: "Lora", serif;
	  font-optical-sizing: auto;
	  font-weight: <weight>;
	  font-style: normal;
}

	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
		.roboto-thin {
	  font-family: "Roboto", sans-serif;
	  font-weight: 100;
	  font-style: normal;
	}

	.roboto-thin-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 100;
	  font-style: italic;
	}

	.roboto-light {
	  font-family: "Roboto", sans-serif;
	  font-weight: 300;
	  font-style: normal;
	}

	.roboto-light-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 300;
	  font-style: italic;
	}

	.roboto-regular {
	  font-family: "Roboto", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	}

	.roboto-regular-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 400;
	  font-style: italic;
	}

	.roboto-medium {
	  font-family: "Roboto", sans-serif;
	  font-weight: 500;
	  font-style: normal;
	}

	.roboto-medium-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 500;
	  font-style: italic;
	}

	.roboto-bold {
	  font-family: "Roboto", sans-serif;
	  font-weight: 700;
	  font-style: normal;
	}

	.roboto-bold-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 700;
	  font-style: italic;
	}

	.roboto-black {
	  font-family: "Roboto", sans-serif;
	  font-weight: 900;
	  font-style: normal;
	}

	.roboto-black-italic {
	  font-family: "Roboto", sans-serif;
	  font-weight: 900;
	  font-style: italic;
	}
}

h1 {
	color: #575F7D;
    font-size: 32px;
    font-weight: 700;
}

h2 {
	color: #7ECE90;
	font-size: 24px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #6B72E1;
	font-weight: bold;
}
a:hover {
	color: black;
}

/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 700px) {
    .container {
        width: 90%; /* Adjust the width as needed */
        margin: 20px auto; /* Center the container */
    }
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px;
	text-align: center;
}

.img-circle {
	width: 150px;
	border-radius: 50%;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(200,200,200);
}

.list-inline i:hover {
	color: black;
}

/* Design adjustments using id (1% design remaining) */

#introduction p {
	margin-bottom: 40px;
}



